FRONTEND_ORIGINS = http://localhost:5173,http://127.0.0.1:5173,http://localhost:8080
DERIBIT_URL = https://test.deribit.com/api/v2/public
REDIS_HOST = redis
REDIS_PORT = 6379
DB_USER = User
DB_NAME = Database_Name
DB_PASSWORD = Password
DB_PORT = 5432
DB_HOST = db

