FRONTEND_ORIGINS = http://localhost:5173,http://127.0.0.1:5173,http://localhost:8080
DERIBIT_URL = https://test.deribit.com/api/v2/public/get_index_price?index_name={currency}
BASE_REDIS = redis
REDIS_CELERY_0 = redis://redis:6379/0
REDIS_CELERY_1 = redis://redis:6379/1
DB_USER = User
DB_NAME = Database_Name
DB_PASSWORD = Password
DB_PORT = 5432
DB_HOST = db

